table {
        text-align: left;
    }
td {
        padding: 3px;
    }
body {
        background-color: #6eff51;
    }
header {
    background-color: #535353;
    text-align: center;
    padding: 10px;
}
